@charset "utf-8";
/* CSS Document */

.toplevel_page_search-items form {
  position: relative;
}
.toplevel_page_search-items input {
  width: 100%;
}
.toplevel_page_search-items form button {
  position: absolute;
  top: 3px;
  right: 0;
  cursor: pointer;
  width: 23px;
  height: 23px;
  padding: 0;
  background: #fff;
  border: none;
}
.toplevel_page_search-items .wp-first-item {
  display: none;
}
